:root {
	--firstBackground: #0f0e17;
	--secondBackground: var(--firstBackground);
	--textColor: #dacec8; /* NOT HEADLINES */
	--backgroundBW: var(--textColor); /* For the DIVS that are only for decoration */
	--nav-big-name: #faeee7;
    --rough-headers: var(--firstBackground)
}

#theme-icon, #mountain-img {
	filter: invert(92%) sepia(15%) saturate(283%) hue-rotate(323deg) brightness(103%) contrast(96%);

}

#theme-icon:hover, #mountain-img:hover {
    transform: rotate(180deg)
}

.proyecto a {
	color: var(--backgroundBW);
	font-weight: bold;
	text-decoration: underline var(--textColor);
	text-decoration-thickness: 4px;
}

.proyecto a:visited {
	color: var(--backgroundBW);
	font-weight: bold;
	text-decoration: underline var(--textColor);
}
