:root{
	--mainColor:#46344E;
	--secondaryColor:#382a3f;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--backgroundShadow:#2b202f;

	--btnColor:#8534a3;
	--contactImgColor: invert(100%) sepia(2%) saturate(2099%) hue-rotate(295deg) brightness(116%) contrast(75%);
}
