:root {
	--firstBackground: #faeee7;
	--secondBackground: #c3f0ca;
	--textColor: #33272a; /* NOT HEADLINES */
	--backgroundBW: black; /* For the DIVS that are only for decoration */
	--nav-big-name: #0d0d0d;
}
